.timer-container {
  display: flex;
  z-index: 2;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--sub-alt-color);
}
.timer-icon {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--text-color);
  /* fill: var(--text-color); */
}

.timer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  gap: 0.5rem;
}
.selected {
  color: var(--main-color);
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.time button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
